Q1.**Write a code to create a string with your name and print it

In [1]:
name="sai krishna"
print(name)

sai krishna

**Q2.Write a code to find the length of the string "Hello World"**

In [3]:
print(len("Hello World"))

11

Q3.Write a code to slice the first 3 characters from the string "Python Programming"

In [4]:
str="Python Programming"
print(str[0:3])

Pyt

**Q4. Write a code to convert the string "hello" to uppercase**

In [5]:
print("hello".upper())

HELLO

**Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple"**

In [6]:
print("I like apple".replace("apple","orange"))

I like orange

**Q6**.Write a code to create a list with numbers 1 to 5 and print it

In [7]:
numbers=[1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

Q7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [8]:
numbers=[1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

Q8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [9]:
number=[1,2,3,4,5]
number.remove(3)
print(number)

[1, 2, 4, 5]

Q9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [10]:
numbers=['a','b','c','d']
print(numbers[1])

b

Q1O.Write a code to reverse the list [10, 20, 30, 40, 50].

In [11]:
numbers=[10,20,30,40,50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [12]:
numbers=(100,200,300)
print(numbers)

(100, 200, 300)

Q12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [13]:
numbers=('red','green','blue','yellow')
print(numbers[-2])

blue

Q13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
numbers=(10,20,5,15)
print(min(numbers))

5

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
pets=('dog','cat','rabbit')
print(pets.index('cat'))

1

Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [17]:
fruits= ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

 Q16Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [18]:
set={'a','b','c'}
print(set)

{'a', 'b', 'c'}

Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [19]:
numbers={1,2,3,4,5}
numbers.clear()
print(numbers)

set()

Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [20]:
numbers={1,2,3,4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

 Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [22]:
set1={1,2,3}
set2={3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

 Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [23]:
set1={1,2,3}
set2={2,3,4}
print(set1.intersection(set2))

{2, 3}

 Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [24]:
dict={"name":"sai","age":20,"city":"hyderabad"}
print(dict)

{'name': 'sai', 'age': 20, 'city': 'hyderabad'}

 Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [25]:
dict={'name': 'John', 'age': 25}
dict["country"]="USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [29]:
dict={'name':'Alice','age':30}
print(dict["name"])

Alice

 Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [30]:
dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict["age"]
print(dict)

{'name': 'Bob', 'city': 'New York'}

 Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [31]:
dict={'name': 'Alice', 'city': 'Paris'}
print("city" in dict)

True

 Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [32]:
list=[1,2,3,4]
tuple=(1,2,3,4)
dict={"name":"sai","age":20,"city":"hyderabad"}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'sai', 'age': 20, 'city': 'hyderabad'}

Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [33]:
list=[1,2,3,4,5]
list.sort()
print(list)

[1, 2, 3, 4, 5]

Q28. Write a code to create a list with strings and print the element at the third index

In [36]:
list=["sai","krishna","reddy","malla"]
print(list[3])

malla

 Q29. Write a code to combine two dictionaries into one and print the result.

In [37]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3 = {**dict1, **dict2,}
print(dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

 Q30. Write a code to convert a list of strings into a set.

In [46]:
strlist = ["apple", "banana", "apple", "cherry"]
print(set(strlist))

TypeError: 'set' object is not callable